body{
    margin: 0px;
    background-color: #a3d47c ;
}
header{
    padding: 0px;
    margin: 0px;
}
nav ul{
    display: inline;
}

h1{
    margin: auto;
    color: rgb(255, 255, 255);
}

p{
    padding: 6px;
    margin: 2px;
}
b{
    padding: 2px;
    margin: 2px;
}