<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mis Familiares</title>
</head>
<body>
    <h1>Estos son los integrantes de mi familia</h1>
    
    <p> {% for familiar in familiares %} </p>
    <p> Mi {{familiar.parentesco}} se llama {{familiar.nombre}},tiene {{familiar.edad}} y 
        {% if familiar.mayor_de_edad == True %} <b> es mayor de edad </b> 
        {%else%} {% if familiar.mayor_de_edad == False %} <b> no es mayor de edad </b>
        {%endif%}
        {%endif%} 
    </p>

</body>
</html>